/*
 * cpccoahuila.css
 */

h1,
header.masthead .page-heading h1,
header.masthead .post-heading h1,
header.masthead .site-heading h1          { font-size:40px; }
h2,
header.masthead .page-heading h2,
header.masthead .post-heading h2,
header.masthead .site-heading h2          { font-size:36px; }
h3,
header.masthead .page-heading h3,
header.masthead .post-heading h3,
header.masthead .site-heading h3          { font-size:28px; }
h4,
header.masthead .page-heading h4,
header.masthead .post-heading h4,
header.masthead .site-heading h4          { font-size:22px; }
header.masthead .post-heading .subheading { font-size:20px }

.post-preview h2.post-title    { font-size:32px; }
.post-preview h3.post-subtitle { font-size:20px }

@media only screen and (max-width: 800px) {
  h1,
  header.masthead .page-heading h1,
  header.masthead .post-heading h1,
  header.masthead .site-heading h1          { font-size: 32px; }
  h2,
  header.masthead .page-heading h2,
  header.masthead .post-heading h2,
  header.masthead .site-heading h2          { font-size: 28px; }
  h3,
  header.masthead .page-heading h3,
  header.masthead .post-heading h3,
  header.masthead .site-heading h3          { font-size: 24px; }
  h4,
  header.masthead .page-heading h4,
  header.masthead .post-heading h4,
  header.masthead .site-heading h4          { font-size: 18px; }
  header.masthead .post-heading .subheading { font-size: 16px; }

  .post-preview h2.post-title    { font-size:28px; }
  .post-preview h3.post-subtitle { font-size:16px }

  p,
  ul li { font-size: 16px; }
}

@media only screen and (max-width: 480px) {
  h1,
  header.masthead .page-heading h1,
  header.masthead .post-heading h1,
  header.masthead .site-heading h1          { font-size: 24px; }
  h2,
  header.masthead .page-heading h2,
  header.masthead .post-heading h2,
  header.masthead .site-heading h2          { font-size: 20px; }
  h3,
  header.masthead .page-heading h3,
  header.masthead .post-heading h3,
  header.masthead .site-heading h3          { font-size: 16px; }
  h4,
  header.masthead .page-heading h4,
  header.masthead .post-heading h4,
  header.masthead .site-heading h4          { font-size: 14px; }
  header.masthead .post-heading .subheading { font-size: 12px; }

  .post-preview h2.post-title    { font-size:24px; }
  .post-preview h3.post-subtitle { font-size:12px }

  p,
  ul li { font-size: 14px; }
}
